*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5),#000000), url(https://github.com/apbackup/bitch/blob/main/WhatsApp%20Image%202021-10-30%20at%203.31.18%20AM.jpeg?raw=true);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family:fantasy;
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
}
.banner-btn{
    margin: 70px auto 0 ;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height:100%;
    position:absolute;
    top:0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color:black;
}
#explore {
    display: flex;
    padding: 5%;
    background-color: #031625;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.5), black), url(https://github.com/apbackup/bitch/blob/main/WhatsApp%20Image%202021-10-30%20at%202.02.14%20PM.jpeg?raw=true);
    background-size:cover;
    background-position:center;
}
